body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p.message.error {
  color: #e1585c;
}

footer {
  bottom: 0;
  background-color: rgb(35, 38, 40);
  color: rgb(167, 172, 177);
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: none;
}
